* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.nav {
    height: 50px;
    max-width: 400px;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innernav {
    height: 40px;
    width: 40px;

}

#left {
    border-radius: 50%;
    background-image: url(https://community.adobe.com/legacyfs/online/1515841_Idea.png);
    background-position: center;
    background-size: cover;
}

#right {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtzhOWn8RgPu2lpStBngDltJYkzmNWXjCsix68kD2ObNk8S-FmYNXmcGEq_v7DcWRNrMo&usqp=CAU);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 30px;
    margin-left: 15px;
}

h2 {
    font-size: 20px;
    margin-left: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    gap: 15px;
}

.btn {
    height: 27px;
    width: 75px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.hero2 {
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
}

.hero2a {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 350px;
    border-radius: 25px;
    background-image: url(block1.png);
    background-position: center;
    background-size: cover;
}

.hero2b {

    margin-bottom: 10px;
    height: 70px;
    width: 350px;
    border-radius: 25px;
    background-image: url(block4.png);
    background-position: center;
    background-size: cover;
}

.hero2m {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero2m .n1 {
    height: 70px;
    width: 80px;
    border-radius: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.hero2m .n1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.hero2m .n2 {
    height: 70px;
    width: 250px;
    border-radius: 25px;
    margin-bottom: 10px;
    background-image: url(block3.png);
    background-position: center;
    background-size: cover;
}

.hero2m .n3 {
    height: 70px;
    width: 110px;
    border-radius: 25px;
    margin-bottom: 10px;
    background-image: url(block5.png);
    background-position: center;
    background-size: cover;
}

.hero2m .n4 {
    height: 70px;
    width: 220px;
    position: relative;
    border-radius: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.hero2m .n4 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero3 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: absolute;
    left: 0;
    top: 670px;
}

.h3content {
    border-bottom: 1px solid grey;
    width: 350px;
    height: 25px;
    margin-top: 10px;
    position: relative;
    font-weight: 800px;
}

#service {
    border: none;
    height: 35px;
    color: rgb(69, 54, 54);

}

.ri-add-fill {

    position: absolute;
    right: 2px;
}

.hero4 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: absolute;
    left: 0;
    top: 930px;
    
}
.hero4content{
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 320px;
    background-color: #F9FAFB;
    border-radius: 25px;
    align-items: center;
    margin-bottom: 30px;
}
.firefly{
    height: 270px;
    width: 250px;
    margin: 15px;
    background-image: url(firefly.png);
    background-size: cover;
    background-position: center;
}
#prola{
    background-image: url(prola.png);
    
}
#kozmo{
    background-image: url(kozmo.png);
   
}
#slate{
    background-image: url(slate.png);
}
#jarvis{
    background-image: url(jarvis.png);

}
#Trinity{
    background-image: url(Screenshot\ \(25\).png);

}
.casestudy{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 320px;
    border-radius: 25px;
    border: 2px solid black;
    gap:10px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.hero5{
    max-width: 350px;
    margin-left: 15px;
    margin-bottom: 15px;
}
#journal1{
    background-image: url(journal1.png);
    border-radius: 15px;
}
#journal2{
    background-image: url(journal2.png);
    border-radius: 15px;
}
#journal3{
    background-image: url(journal3.png);
    border-radius: 15px;
}

